{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <p>Hola, mi nombre es Jorge Leonardo.</p>
            <p>Nací en Lima-Perú en el año 1976.</p>
            <p>Trabajé en el Ministerio de Relaciones Exteriores donde fui jefe encargado por casi cuatro años. Estuve a
                cargo de un
                equipo de ocho personas.</p>
            <p>En ese proceso descubrí el código de programación y la tecnología en general.</p>
            <p>Su uso variado e ilimitado me hizo replantear mi trabajo. Hay tantas facetas por conocer, I.A., IoT.,
                vídeo
                juegos,
                desarrollo de aplicaciones y páginas web, backend, frontend, UA, UX, realidad virtual y otro sinfín de
                alternativas.
            </p>
            <p>Decidí que debía aprender y comencé a estudiar.</p>
            <p>A mediados del 2018 me gradué. Soy Egresado de Desarrollo de Software. También soy autodidacta en
                desarrollo
                backend,
                HTML, CSS y JavaScript. También seguí un Programa de Especialización en Big Data &amp; Analytics y un
                Programa de
                Especialización en Machine Learning con Python.</p>
            <p>Soy consciente que me queda mucho camino por recorrer, pero no pienso detenerme.</p>

        </div>
    </div>
</div>
{% endblock %}