{% extends 'base.html' %}

{% load static %}
{% block content %}

<main>

    <div class="px-4 pt-5 my-5 text-center border-bottom">

        <img class="d-block mx-auto mb-4" src="{% static 'img/decimo_circulo_1.png' %}" alt="" width="200" >
        <h1 class="display-4 fw-bold">My library</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome to my personal project.

                I'm sure you'll like what you see.

                Please let me know what you think.</p>
            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="{% url 'home:list_book' %}" type="button" class="btn btn-dark btn-lg px-4 me-sm-3">View list books</a>
                <a href="{% url 'home:about' %}" type="button" class="btn btn-outline-secondary btn-lg px-4">About me</a>
        
            </div>
        </div>

        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{% static 'img/jake-lorefice-SylPuraNzUM-unsplash.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                    width="700" height="500" loading="lazy">
            </div>
        </div>

    </div>

</main>

{% endblock %}